{% extends 'base.html' %}
{% block content %}


<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }


    .contact {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>

<div class="container">
  <div class="row">
    <div class="col-md-8 contact mb-4  mt-3 left  top">
      <div class="contact-body">
      {% for elem in contact_list %}
        <h1>{% block title %} {{ elem.title }} {% endblock title %}</h1>
        <p class="contact-text ">{{ elem.content | safe }}</p>
        <p class="contact-text ">{{ elem.git | safe }}</p>

      </div>
    {% endfor %}
    </div>
    {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
  </div>
</div>

{% endblock content %}